body {
  background-color: lightblue;
}

.jumbotron {
  background-color: orange;
  border-color: white;
  border-style:solid;
  border-width: 1px;
  border-radius: 0px;

}
td {
  background-color: darkblue;
  border-color: white;
  border-style:solid;
  border-width: 1px;
  height: 55px;
  width: 55px;
  color: white;
  text-align:center;
  font-family: 'Wallpoet', sans-serif;;
  font-size: 16pt;
}

.jumbotron > h1 {
  font-family: 'Wallpoet', cursive;
  font-size: 60pt;
  color: white;
  }

h2 {
  font-family: 'Wallpoet', cursive;
  font-size: 24pt;
  color: darkblue;
}

/*td:hover {
    background-color: darkblue;
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}*/

.hitSquare {
  background-color: orange;
}

.clickedSquare {
  background-color: lightblue;
}


.shipSquareRevealed {
  background-color: darkgray;
}

.sunkenShip {
  background-color: red;
}

.red {
  color: red;
}

.blink {
    color: red;
    animation: blink .75s linear infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
